@{
    ViewBag.Title = "Contact US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Content/ContactUS.css" rel="stylesheet" />

<div id="container">
    <img src="~/Content/Images/ContactUS/Banner.png" alt="" />
    <div class="contentMain">
        <div class="content">
            <span>商务合作：<i>MSDC@isoftstone.com</i></span>
            <span>其他咨询：<i>MSDC@isoftstone.com</i></span>
            <span>招聘：<i>MSDC@isoftstone.com</i></span>
            <span>电话：<i>010-58749300</i></span>
            <span>微信：<i>MSDC</i></span>
            <address>
                北京海淀区西北旺东路<br />
                中关村软件园二期<br />
                软通大厦南区三层
            </address>
        </div>
        <div class="map">
            <iframe width="331" height="190" frameborder="0" style="border: 1px solid #ccc;"
                scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E8%BD%AF%E9%80%9A%E5%8A%A8%E5%8A%9B&amp;aq=&amp;sll=40.036947,116.30127&amp;sspn=0.081749,0.181103&amp;brcurrent=3,0x35f05137c865ad63:0xd348af83c67dc389,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E8%BD%AF%E9%80%9A%E5%8A%A8%E5%8A%9B&amp;hnear=&amp;t=m&amp;z=12&amp;output=embed"></iframe>
        </div>
    </div>
</div>
