#container {
    min-height: 580px;
    width: 716px;
    margin: 36px auto;
    font-family:SimSun;
    font-size:12px;
    color:#333333;
}
.contentMain {
    margin-top:50px;
}
.content {
    margin-right:109px;
    float:left;
    text-align:left;
    line-height:180%;
}
    .content span {
        display:block;        
    }
    .content span i{
        font-family:Arial;
        color:#6b6b6b;
    }
    .content address {
        margin-top:12px;
        line-height:130%
    }
.map {
    float:right;
}