#newsContainer {
    min-height: 580px;
    width: 752px;
    margin: 36px auto;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.newsItem {
    font-family: SimSun;
    margin: 25px 0px 35px 0px;
    text-align: left;
    overflow: hidden;
}

    .newsItem img {
        float: left;
        padding-right: 20px;
    }

    .newsItem h1 {
        font-size: 18px;        
        color: #000000;
        line-height: 37px;
    }

    .newsItem p {
        font-size: 12px;
        color: #6b6b6b;
        line-height: 150%;
    }

    .newsItem span {
        color: #7f7f7f;
        font-size: 12px;
        display: block;
        margin-top: 2px;
        float: left;
    }

    .newsItem a span {
        text-decoration: underline;
        font-size: 12px;
        color: #6f91b5;
        margin-top: 11px;
        float: right;
    }

DIV.pager {
    text-align:center;        
    margin-top: 50px;
    margin-bottom:30px;    
}

    DIV.pager A {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 6px 12px;
    }

        DIV.pager A:hover {
            background-color: Silver;
        }

        DIV.pager A.selected {
            background-color: #6f91b5;
            color: White;
        }
